@import "styles/variables";

.search-sort-filter-container {
  width: auto;
}
.group-button {
  margin-left: 88px;
  width: 476px;
}
.delete-button-container {
  height: 48px;
  margin: 0 8px;
  background: #f44336 !important;
}
